[production]
last 3 chrome versions
last 3 edge version
last 3 firefox versions
last 3 safari versions
opera >= 90

[development]
last 1 Chrome versions
last 1 FireFox versions
last 1 Safari versions
