{
  "swagger": "2.0",
  "info": {
    "description": "The Tripletex API is a **RESTful API**, which does not implement PATCH, but uses a PUT with optional fields.\n\n**Actions** or commands are represented in our RESTful path with a prefixed `:`. Example: `/v2/hours/123/:approve`.\n\n**Summaries** or aggregated results are represented in our RESTful path with a prefixed <code>&gt;</code>. Example: <code>/v2/hours/&gt;thisWeeksBillables</code>.\n\n**\"requestID\"** is a key found in all responses in the header with the name `x-tlx-request-id`. For validation and error responses it is also in the response body. If additional log information is absolutely necessary, our support division can locate the key value.\n\n**Download** the [swagger.json](/v2/swagger.json) file [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification) to [generate code](https://github.com/swagger-api/swagger-codegen). This document was generated from the Swagger JSON file.\n\n**version:** This is a versioning number found on all DB records. If included, it will prevent your PUT/POST from overriding any updates to the record since your GET.\n\n**Date & DateTime** follows the **ISO 8601** standard. Date: `YYYY-MM-DD`. DateTime: `YYYY-MM-DDThh:mm:ssZ`\n\n**Sorting** is done by specifying a comma separated list, where a `-` prefix denotes descending. You can sort by sub object with the following format: `project.name, -date`.\n\n**Searching:** is done by entering values in the optional fields for each API call. The values fall into the following categories: range, in, exact and like.\n\n**Missing fields or even no response data** can occur because result objects and fields are filtered on authorization.\n\n**See [FAQ](https://tripletex.no/execute/docViewer?articleId=906&language=0) for more additional information.**\n\n\n## Authentication:\n- **Tokens:** The Tripletex API uses 3 different tokens - **consumerToken**, **employeeToken** and **sessionToken**.\n\n- **consumerToken** is a token provided to the consumer by Tripletex after the API 2.0 registration is completed.\n\n- **employeeToken** is a token created by an administrator in your Tripletex account via the user settings and the tab \"API access\". Each employee token must be given a set of entitlements. [Read more here.](https://tripletex.no/execute/docViewer?articleId=853&language=0)\n\n- **sessionToken** is the token from `/token/session/:create` which requires a consumerToken and an employeeToken created with the same consumer token, but not an authentication header. See how to create a sessionToken [here](https://tripletex.no/execute/docViewer?articleId=855&language=0).\n- The session token is used as the password in \"Basic Authentication Header\" for API calls.\n\n- Use blank or `0` as username for accessing the account with regular employee token, or if a company owned employee token accesses <code>/company/&gt;withLoginAccess</code> or <code>/token/session/&gt;whoAmI</code>.\n\n- For company owned employee tokens (accounting offices) the ID from <code>/company/&gt;withLoginAccess</code> can be used as username for accessing client accounts.\n\n- If you need to create the header yourself use <code>Authorization: Basic &lt;base64encode('0:sessionToken')&gt;</code>.\n\n\n## Tags:\n- **[BETA]** This is a beta endpoint and can be subject to change.\n- **[DEPRECATED]** Deprecated means that we intend to remove/change this feature or capability in a future \"major\" API release. We therefore discourage all use of this feature/capability.\n\n## Fields:\nUse the `fields` parameter to specify which fields should be returned. This also supports fields from sub elements. Example values:\n- `project,activity,hours`  returns `{project:..., activity:...., hours:...}`.\n- just `project` returns `\"project\" : { \"id\": 12345, \"url\": \"tripletex.no/v2/projects/12345\"  }`.\n- `project(*)` returns `\"project\" : { \"id\": 12345 \"name\":\"ProjectName\" \"number.....startDate\": \"2013-01-07\" }`.\n- `project(name)` returns `\"project\" : { \"name\":\"ProjectName\" }`.\n- All elements and some subElements :  `*,activity(name),employee(*)`.\n\n## Changes:\nTo get the changes for a resource, `changes` have to be explicitly specified as part of the `fields` parameter, e.g. `*,changes`.\nThere are currently two types of change available: \n- `CREATE` for when the resource was created\n- `UPDATE` for when the resource was updated\n\nNOTE: For objects created prior to October 24th 2018 the list may be incomplete, but will always contain the CREATE and the last change (if the object has been changed after creation).\n\n## Rate limiting in each response header:\nRate limiting is performed on the API calls for an employee for each API consumer. Status regarding the rate limit is returned as headers:\n- `X-Rate-Limit-Limit` - The number of allowed requests in the current period.\n- `X-Rate-Limit-Remaining` - The number of remaining requests.\n- `X-Rate-Limit-Reset` - The number of seconds left in the current period.\n\nOnce the rate limit is hit, all requests will return HTTP status code `429` for the remainder of the current period.\n\n\n## Response envelope:\n```json\n{\n  \"fullResultSize\": ###,\n  \"from\": ###, // Paging starting from\n  \"count\": ###, // Paging count\n  \"versionDigest\": \"Hash of full result\",\n  \"values\": [...list of objects...]\n}\n{\n  \"value\": {...single object...}\n}\n```\n\n\n## WebHook envelope:\n```json\n{\n  \"subscriptionId\": ###,\n  \"event\": \"object.verb\", // As listed from /v2/event/\n  \"id\": ###, // Object id\n  \"value\": {... single object, null if object.deleted ...}\n}\n```\n\n\n\n## Error/warning envelope:\n```json\n{\n  \"status\": ###, // HTTP status code\n  \"code\": #####, // internal status code of event\n  \"message\": \"Basic feedback message in your language\",\n  \"link\": \"Link to doc\",\n  \"developerMessage\": \"More technical message\",\n  \"validationMessages\": [ // Will be null if Error\n    {\n      \"field\": \"Name of field\",\n      \"message\": \"Validation failure information\"\n    }\n  ],\n  \"requestId\": \"UUID used in any logs\"\n}\n```\n\n\n## Status codes / Error codes:\n- **200 OK**\n- **201 Created** - From POSTs that create something new.\n- **204 No Content** - When there is no answer, ex: \"/:anAction\" or DELETE.\n- **400 Bad request** -\n  - **4000**\tBad Request Exception\n  - **11000**\tIllegal Filter Exception\n  - **12000**\tPath Param Exception\n  - **24000**   Cryptography Exception\n- **401 Unauthorized** - When authentication is required and has failed or has not yet been provided\n  -  **3000**\tAuthentication Exception\n- **403 Forbidden** - When AuthorisationManager says no.\n  -  **9000**\tSecurity Exception\n- **404 Not Found** - For content/IDs that does not exist.\n  -  **6000**\tNot Found Exception\n- **409 Conflict** - Such as an edit conflict between multiple simultaneous updates\n  -  **7000**\tObject Exists Exception\n  -  **8000**\tRevision Exception\n  - **10000**\tLocked Exception\n  - **14000**\tDuplicate entry\n- **422 Bad Request** - For Required fields or things like malformed payload.\n  - **15000**\tValue Validation Exception\n  - **16000**\tMapping Exception\n  - **17000**\tSorting Exception\n  - **18000**\tValidation Exception\n  - **21000**\tParam Exception\n  - **22000**\tInvalid JSON Exception\n  - **23000**   Result Set Too Large Exception\n- **429 Too Many Requests** - Request rate limit hit\n- **500 Internal Error** -  Unexpected condition was encountered and no more specific message is suitable\n  -  **1000**\tException",
    "version": "2.43.0",
    "title": "Tripletex API",
    "contact": {
      "name": "tripletex-api2 on GitHub",
      "url": "https://github.com/Tripletex/tripletex-api2"
    }
  },
  "host": "tripletex.no",
  "basePath": "/v2",
  "tags": [
    {
      "name": "purchaseOrdergoodsReceiptLine"
    },
    {
      "name": "purchaseOrder/goodsReceiptLine"
    },
    {
      "name": "tokenconsumer"
    },
    {
      "name": "token/consumer"
    },
    {
      "name": "employeeemploymentdetails"
    },
    {
      "name": "employee/employment/details"
    },
    {
      "name": "internalsystemMessage"
    },
    {
      "name": "bankstatement"
    },
    {
      "name": "bank/statement"
    },
    {
      "name": "tripletexAccount"
    },
    {
      "name": "travelExpenserate"
    },
    {
      "name": "travelExpense/rate"
    },
    {
      "name": "companymodules"
    },
    {
      "name": "tripletexAccountsalesForceOpportunity"
    },
    {
      "name": "exceptiontest"
    },
    {
      "name": "timesheetweek"
    },
    {
      "name": "timesheet/week"
    },
    {
      "name": "currency"
    },
    {
      "name": "municipality"
    },
    {
      "name": "event"
    },
    {
      "name": "order"
    },
    {
      "name": "tokenlogin"
    },
    {
      "name": "salarycompilation"
    },
    {
      "name": "salary/compilation"
    },
    {
      "name": "ledgercloseGroup"
    },
    {
      "name": "ledger/closeGroup"
    },
    {
      "name": "companysettingsaltinn"
    },
    {
      "name": "company/altinn"
    },
    {
      "name": "address"
    },
    {
      "name": "invoicedetails"
    },
    {
      "name": "invoice/details"
    },
    {
      "name": "lookup"
    },
    {
      "name": "tokenemployee"
    },
    {
      "name": "token/employee"
    },
    {
      "name": "integrationpg2callback"
    },
    {
      "name": "travelExpensesettings"
    },
    {
      "name": "travelExpense/settings"
    },
    {
      "name": "ledgervoucherType"
    },
    {
      "name": "ledger/voucherType"
    },
    {
      "name": "employee"
    },
    {
      "name": "banner"
    },
    {
      "name": "optionspage"
    },
    {
      "name": "projectcategory"
    },
    {
      "name": "project/category"
    },
    {
      "name": "travelExpenserateCategoryGroup"
    },
    {
      "name": "travelExpense/rateCategoryGroup"
    },
    {
      "name": "activity"
    },
    {
      "name": "travelExpenseaccommodationAllowance"
    },
    {
      "name": "travelExpense/accommodationAllowance"
    },
    {
      "name": "orderoffer"
    },
    {
      "name": "tripletexAccountsalesForceUser"
    },
    {
      "name": "projectorderline"
    },
    {
      "name": "project/orderline"
    },
    {
      "name": "employeeemploymentoccupationCode"
    },
    {
      "name": "employee/employment/occupationCode"
    },
    {
      "name": "productgroup"
    },
    {
      "name": "product/group"
    },
    {
      "name": "companysalesmodules"
    },
    {
      "name": "company/salesmodules"
    },
    {
      "name": "employeehourlyCostAndRate"
    },
    {
      "name": "employee/hourlyCostAndRate"
    },
    {
      "name": "customercategory"
    },
    {
      "name": "customer/category"
    },
    {
      "name": "customer"
    },
    {
      "name": "purchaseOrder"
    },
    {
      "name": "projecthourlyRates"
    },
    {
      "name": "project/hourlyRates"
    },
    {
      "name": "travelExpense"
    },
    {
      "name": "inventorystocktakingproductline"
    },
    {
      "name": "inventory/stocktaking/productline"
    },
    {
      "name": "reminder"
    },
    {
      "name": "bankreconciliationmatch"
    },
    {
      "name": "bank/reconciliation/match"
    },
    {
      "name": "openid"
    },
    {
      "name": "employeeemployment"
    },
    {
      "name": "employee/employment"
    },
    {
      "name": "document"
    },
    {
      "name": "documentArchive"
    },
    {
      "name": "ledgervoucher"
    },
    {
      "name": "ledger/voucher"
    },
    {
      "name": "employeestandardTime"
    },
    {
      "name": "employee/standardTime"
    },
    {
      "name": "ledgerpaymentTypeOut"
    },
    {
      "name": "ledger/paymentTypeOut"
    },
    {
      "name": "division"
    },
    {
      "name": "projectparticipant"
    },
    {
      "name": "project/participant"
    },
    {
      "name": "timesheetsettings"
    },
    {
      "name": "timesheet/settings"
    },
    {
      "name": "timesheetsalaryTypeSpecification"
    },
    {
      "name": "timesheet/salaryTypeSpecification"
    },
    {
      "name": "tokensession"
    },
    {
      "name": "token/session"
    },
    {
      "name": "ledgerannualAccount"
    },
    {
      "name": "ledger/annualAccount"
    },
    {
      "name": "travelExpensepaymentType"
    },
    {
      "name": "travelExpense/paymentType"
    },
    {
      "name": "inventorystocktaking"
    },
    {
      "name": "inventory/stocktaking"
    },
    {
      "name": "eventbanner"
    },
    {
      "name": "inventoryinventories"
    },
    {
      "name": "inventory/inventories"
    },
    {
      "name": "project"
    },
    {
      "name": "productgroupRelation"
    },
    {
      "name": "product/groupRelation"
    },
    {
      "name": "deliveryAddress"
    },
    {
      "name": "employeeemploymentworkingHoursScheme"
    },
    {
      "name": "employee/employment/workingHoursScheme"
    },
    {
      "name": "ledgeraccountingPeriod"
    },
    {
      "name": "ledger/accountingPeriod"
    },
    {
      "name": "eventnotification"
    },
    {
      "name": "salarysettingsholiday"
    },
    {
      "name": "salary/settings/holiday"
    },
    {
      "name": "integrationvntcstatus"
    },
    {
      "name": "salarytransaction"
    },
    {
      "name": "salary/transaction"
    },
    {
      "name": "bankreconciliation"
    },
    {
      "name": "bank/reconciliation"
    },
    {
      "name": "project{id}period"
    },
    {
      "name": "project/period"
    },
    {
      "name": "productunit"
    },
    {
      "name": "product/unit"
    },
    {
      "name": "employeenextOfKin"
    },
    {
      "name": "employee/nextOfKin"
    },
    {
      "name": "employeeemploymentleaveOfAbsence"
    },
    {
      "name": "employee/employment/leaveOfAbsence"
    },
    {
      "name": "travelExpensecost"
    },
    {
      "name": "travelExpense/cost"
    },
    {
      "name": "salaryspecification"
    },
    {
      "name": "projectcontrolForm"
    },
    {
      "name": "project/controlForm"
    },
    {
      "name": "tripletexAccountsalesForceAccountInfo"
    },
    {
      "name": "travelExpensepassenger"
    },
    {
      "name": "travelExpense/passenger"
    },
    {
      "name": "integrationautopaymessages"
    },
    {
      "name": "travelExpensemileageAllowance"
    },
    {
      "name": "travelExpense/mileageAllowance"
    },
    {
      "name": "companybrreg"
    },
    {
      "name": "salarytype"
    },
    {
      "name": "salary/type"
    },
    {
      "name": "travelExpenserateCategory"
    },
    {
      "name": "travelExpense/rateCategory"
    },
    {
      "name": "bankreconciliationpaymentType"
    },
    {
      "name": "bank/reconciliation/paymentType"
    },
    {
      "name": "monthlyStatus"
    },
    {
      "name": "invoice"
    },
    {
      "name": "eventsubscription"
    },
    {
      "name": "event/subscription"
    },
    {
      "name": "ledgervatType"
    },
    {
      "name": "ledger/vatType"
    },
    {
      "name": "contact"
    },
    {
      "name": "travelExpensecostCategory"
    },
    {
      "name": "travelExpense/costCategory"
    },
    {
      "name": "travelExpenseperDiemCompensation"
    },
    {
      "name": "travelExpense/perDiemCompensation"
    },
    {
      "name": "ledger"
    },
    {
      "name": "supplier"
    },
    {
      "name": "employeeemploymentemploymentType"
    },
    {
      "name": "employee/employment/employmentType"
    },
    {
      "name": "internalscheduling"
    },
    {
      "name": "apiConsumer"
    },
    {
      "name": "salarypayslip"
    },
    {
      "name": "salary/payslip"
    },
    {
      "name": "integrationfactoringaprila"
    },
    {
      "name": "projecttask"
    },
    {
      "name": "project/task"
    },
    {
      "name": "bankstatementtransaction"
    },
    {
      "name": "bank/statement/transaction"
    },
    {
      "name": "timesheettimeClock"
    },
    {
      "name": "timesheet/timeClock"
    },
    {
      "name": "country"
    },
    {
      "name": "purchaseOrderorderline"
    },
    {
      "name": "purchaseOrder/orderline"
    },
    {
      "name": "inventory"
    },
    {
      "name": "employeeentitlement"
    },
    {
      "name": "employee/entitlement"
    },
    {
      "name": "integrationmaventastatus"
    },
    {
      "name": "company"
    },
    {
      "name": "purchaseOrdergoodsReceipt"
    },
    {
      "name": "purchaseOrder/goodsReceipt"
    },
    {
      "name": "orderorderline"
    },
    {
      "name": "order/orderline"
    },
    {
      "name": "tripletexAccountsalesForceEmployeeRole"
    },
    {
      "name": "product"
    },
    {
      "name": "ledgeraccount"
    },
    {
      "name": "ledger/account"
    },
    {
      "name": "salarysettings"
    },
    {
      "name": "salary/settings"
    },
    {
      "name": "bank"
    },
    {
      "name": "employeeemploymentremunerationType"
    },
    {
      "name": "employee/employment/remunerationType"
    },
    {
      "name": "projecthourlyRatesprojectSpecificRates"
    },
    {
      "name": "project/hourlyRates/projectSpecificRates"
    },
    {
      "name": "productexternal"
    },
    {
      "name": "product/external"
    },
    {
      "name": "timesheetentry"
    },
    {
      "name": "timesheet/entry"
    },
    {
      "name": "invoicepaymentType"
    },
    {
      "name": "invoice/paymentType"
    },
    {
      "name": "ledgerposting"
    },
    {
      "name": "ledger/posting"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "mobileapp"
    },
    {
      "name": "crmprospect"
    },
    {
      "name": "crm/prospect"
    },
    {
      "name": "projectprojectActivity"
    },
    {
      "name": "project/projectActivity"
    },
    {
      "name": "department"
    },
    {
      "name": "employeeemploymentleaveOfAbsenceType"
    },
    {
      "name": "employee/employment/leaveOfAbsenceType"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/activity": {
      "get": {
        "tags": [
          "activity"
        ],
        "summary": "Find activities corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "number",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "isProjectActivity",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isGeneral",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isChargeable",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isTask",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseActivity"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "activity"
        ],
        "summary": "Add activity.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperActivity"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/activity/>forTimeSheet": {
      "get": {
        "tags": [
          "activity"
        ],
        "summary": "Find applicable time sheet activities for an employee on a specific day.",
        "description": "",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Employee ID. Defaults to ID of token owner.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "query",
            "description": "yyyy-MM-dd. Defaults to today.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseActivity"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/activity/list": {
      "post": {
        "tags": [
          "activity"
        ],
        "summary": "Add multiple activities.",
        "description": "",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing a list of new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Activity"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ListResponseActivity"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/activity/{id}": {
      "get": {
        "tags": [
          "activity"
        ],
        "summary": "Find activity by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperActivity"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank": {
      "get": {
        "tags": [
          "bank"
        ],
        "summary": "[BETA] Find bank corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "registerNumbers",
            "in": "query",
            "description": "Bank register number (four digits)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isBankReconciliationSupport",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBank"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation": {
      "get": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Find bank reconciliation corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountingPeriodId",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankReconciliation"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Post a bank reconciliation.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BankReconciliation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliation"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/>lastClosed": {
      "get": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Get last closed reconciliation by account ID.",
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Account ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "after",
            "in": "query",
            "description": "Format is yyyy-MM-dd",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliation"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/match": {
      "get": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Find bank reconciliation match corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "bankReconciliationId",
            "in": "query",
            "description": "List of bank reconciliation IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankReconciliationMatch"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Create a bank reconciliation match.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BankReconciliationMatch"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliationMatch"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/match/:suggest": {
      "put": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Suggest matches for a bank reconciliation by ID.",
        "description": "",
        "parameters": [
          {
            "name": "bankReconciliationId",
            "in": "query",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankReconciliationMatch"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/match/{id}": {
      "get": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Get bank reconciliation match by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliationMatch"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Update a bank reconciliation match by ID.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BankReconciliationMatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliationMatch"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "delete": {
        "tags": [
          "bank/reconciliation/match"
        ],
        "summary": "[BETA] Delete a bank reconciliation match by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/paymentType": {
      "get": {
        "tags": [
          "bank/reconciliation/paymentType"
        ],
        "summary": "[BETA] Find payment type corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankReconciliationPaymentType"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/paymentType/{id}": {
      "get": {
        "tags": [
          "bank/reconciliation/paymentType"
        ],
        "summary": "[BETA] Get payment type by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliationPaymentType"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/{id}": {
      "get": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Get bank reconciliation.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliation"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Update a bank reconciliation.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BankReconciliation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankReconciliation"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "delete": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Delete bank reconciliation by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/reconciliation/{id}/:adjustment": {
      "put": {
        "tags": [
          "bank/reconciliation"
        ],
        "summary": "[BETA] Add an adjustment to reconciliation by ID.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Adjustments",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BankReconciliationAdjustment"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankReconciliationAdjustment"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement": {
      "get": {
        "tags": [
          "bank/statement"
        ],
        "summary": "[BETA] Find bank statement corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankStatement"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement/import": {
      "post": {
        "tags": [
          "bank/statement"
        ],
        "summary": "[BETA] Upload bank statement file.",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "bankId",
            "in": "query",
            "description": "Bank ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "Account ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Format is yyyy-MM-dd (from and incl.).",
            "required": true,
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Format is yyyy-MM-dd (to and excl.).",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "External ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "fileFormat",
            "in": "query",
            "description": "File format",
            "required": true,
            "type": "string",
            "enum": [
              "DNB_CSV",
              "EIKA_TELEPAY",
              "SPAREBANK1_TELEPAY",
              "VISMA_ACCOUNT_STATEMENT",
              "HANDELSBANKEN_TELEPAY",
              "SPAREBANKEN_VEST_TELEPAY",
              "NORDEA_CSV",
              "TRANSFERWISE",
              "SPAREBANKEN_SOR_TELEPAY",
              "DANSKE_BANK_CSV"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "The bank statement file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankStatement"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement/transaction": {
      "get": {
        "tags": [
          "bank/statement/transaction"
        ],
        "summary": "[BETA] Find bank transaction corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "query",
            "description": "Bank statement ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseBankTransaction"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement/transaction/{id}": {
      "get": {
        "tags": [
          "bank/statement/transaction"
        ],
        "summary": "[BETA] Get bank transaction by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankTransaction"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement/transaction/{id}/details": {
      "get": {
        "tags": [
          "bank/statement/transaction"
        ],
        "summary": "[BETA] Get additional details about transaction by ID.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperObject"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/bank/statement/{id}": {
      "get": {
        "tags": [
          "bank/statement"
        ],
        "summary": "[BETA] Get bank statement.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperBankStatement"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "delete": {
        "tags": [
          "bank/statement"
        ],
        "summary": "[BETA] Delete bank statement by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company": {
      "put": {
        "tags": [
          "company"
        ],
        "summary": "Update company information.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCompany"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company/>withLoginAccess": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Returns client customers (with accountant/auditor relation) where the current user has login access (proxy login).",
        "description": "",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCompany"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company/divisions": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "[DEPRECATED] Find divisions.",
        "description": "",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCompany"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company/salesmodules": {
      "get": {
        "tags": [
          "company/salesmodules"
        ],
        "summary": "[BETA] Get active sales modules.",
        "description": "",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseSalesModuleDTO"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "company/salesmodules"
        ],
        "summary": "[BETA] Add (activate) a new sales module.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SalesModuleDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperSalesModuleDTO"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company/settings/altinn": {
      "get": {
        "tags": [
          "company/altinn"
        ],
        "summary": "[BETA] Find Altinn id for login in company.",
        "description": "",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperAltinnCompanyModule"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "company/altinn"
        ],
        "summary": "[BETA] Update AltInn id and password.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AltinnCompanyModule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperAltinnCompanyModule"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/company/{id}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Find company by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCompany"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/contact": {
      "get": {
        "tags": [
          "contact"
        ],
        "summary": "Find contacts corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseContact"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "contact"
        ],
        "summary": "Create contact.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperContact"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/contact/{id}": {
      "get": {
        "tags": [
          "contact"
        ],
        "summary": "Get contact by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperContact"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "contact"
        ],
        "summary": "[BETA] Update contact.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperContact"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/country": {
      "get": {
        "tags": [
          "country"
        ],
        "summary": "Find countries corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCountry"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/country/{id}": {
      "get": {
        "tags": [
          "country"
        ],
        "summary": "Get country by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCountry"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/crm/prospect": {
      "get": {
        "tags": [
          "crm/prospect"
        ],
        "summary": "Find prospects corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "description": "From and including",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "description": "To and excluding",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "salesEmployeeId",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "isClosed",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "closedReason",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "closedDateFrom",
            "in": "query",
            "description": "From and including",
            "required": false,
            "type": "string"
          },
          {
            "name": "closedDateTo",
            "in": "query",
            "description": "To and excluding",
            "required": false,
            "type": "string"
          },
          {
            "name": "competitor",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "prospectType",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectOfferId",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseProspect"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/crm/prospect/{id}": {
      "get": {
        "tags": [
          "crm/prospect"
        ],
        "summary": "Get prospect by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperProspect"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/currency": {
      "get": {
        "tags": [
          "currency"
        ],
        "summary": "Find currencies corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Currency codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCurrency"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/currency/{id}": {
      "get": {
        "tags": [
          "currency"
        ],
        "summary": "Get currency by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCurrency"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/currency/{id}/rate": {
      "get": {
        "tags": [
          "currency"
        ],
        "summary": "Find currency exchange rate corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Format is yyyy-MM-dd",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCurrencyExchangeRate"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/customer": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Find customers corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerAccountNumber",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationNumber",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "invoiceEmail",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "isInactive",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "accountManagerId",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Create customer. Related customer addresses may also be created.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/customer/category": {
      "get": {
        "tags": [
          "customer/category"
        ],
        "summary": "Find customer/supplier categories corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "number",
            "in": "query",
            "description": "Equals",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCustomerCategory"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "customer/category"
        ],
        "summary": "Add new customer/supplier category.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerCategory"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomerCategory"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/customer/category/{id}": {
      "get": {
        "tags": [
          "customer/category"
        ],
        "summary": "Find customer/supplier category by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomerCategory"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "customer/category"
        ],
        "summary": "Update customer/supplier category.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerCategory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomerCategory"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/customer/list": {
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "[BETA] Create multiple customers. Related supplier addresses may also be created.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing a list of new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Customer"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ListResponseCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "[BETA] Update multiple customers. Addresses can also be updated.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing updates to object. Should have ID and version set.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Customer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/customer/{id}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get customer by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "Update customer. ",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperCustomer"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/deliveryAddress": {
      "get": {
        "tags": [
          "deliveryAddress"
        ],
        "summary": "Find addresses corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressLine1",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressLine2",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseDeliveryAddress"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/deliveryAddress/{id}": {
      "get": {
        "tags": [
          "deliveryAddress"
        ],
        "summary": "Get address by ID.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDeliveryAddress"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "put": {
        "tags": [
          "deliveryAddress"
        ],
        "summary": "Update address.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Partial object describing what should be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DeliveryAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDeliveryAddress"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/department": {
      "get": {
        "tags": [
          "department"
        ],
        "summary": "Find department corresponding with sent data.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentNumber",
            "in": "query",
            "description": "Containing",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentManagerId",
            "in": "query",
            "description": "List of IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From index",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of elements to return",
            "required": false,
            "type": "integer",
            "default": 1000
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields filter pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListResponseDepartment"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      },
      "post": {
        "tags": [
          "department"
        ],
        "summary": "[BETA] Add new department.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing the new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDepartment"
            }
          }
        },
        "security": [
          {
            "tokenAuthScheme": []
          }
        ]
      }
    },
    "/department/list": {
      "post": {
        "tags": [
          "department"
        ],
        "summary": "[BETA] Register new departments.",
        "description": "",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "JSON representing a list of new object to be created. Should not have ID and version set.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Department"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created",
            "schema": {
              "$ref": "#/definitions/ListResponseDepartment"
[...]
