# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: ApiDOM Monorepo

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.8.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
#    - name: Cache npm cache files
#      id: cache-npm-cache-files
#      uses: actions/cache@v2
#      with:
#        path: ~/.npm
#        key: npm-cache-${{ runner.os }}-${{ hashFiles('apidom/package-lock.json') }}
    - name: Install dependencies
      run: npm ci
      working-directory: ./apidom
    - name: Security audit
      run: npm run security-audit
      env:
        CI: true
      working-directory: ./apidom
    - name: Lint commit message
      run: git log -1 --pretty=format:"%s" | npx commitlint
      working-directory: ./apidom
#    - name: Lint code
#      run: npm run lint
#      working-directory: ./apidom
    - name: Build monorepo
      run: npm run build
      working-directory: ./apidom
    - name: Check TypeScript types
      run: npm run typescript:check-types
      working-directory: ./apidom
    - name: Execute tests in monorepo
      run: npm run test
      working-directory: ./apidom
