# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Generic Editor

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
        working-directory: ./experiments/generic-editor
      - name: Security audit
        # filtering production deps only supported on >=npm@6.10.0
        if: startsWith(matrix.node-version, '12') || startsWith(matrix.node-version, '14')
        run: npm run security-audit
        env:
          CI: true
        working-directory: ./experiments/generic-editor
      - name: Lint commit message
        run: git log -1 --pretty=format:"%s" | npx commitlint
        working-directory: ./experiments/generic-editor
      - name: Lint code
        run: npm run lint
        working-directory: ./experiments/generic-editor
      - name: Build
        run: npm run build
        working-directory: ./experiments/generic-editor
      - name: Execute tests in monorepo
        run: npm run test
        env:
          CI: true
        working-directory: ./experiments/generic-editor
