name: ApiDOM Monorepo full nightly build

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 4 * * *'

env:
  CPU_CORES: 2

jobs:
  nightly-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Cache npm cache files
        id: cache-npm-cache-files
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-cache-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.SWAGGER_BOT_GITHUB_TOKEN }}
      - name: Lint code
        run: npm run lint
      - name: Build monorepo
        run: npm run build
      - name: Check TypeScript types
        run: npm run typescript:check-types
      - name: Execute tests in monorepo
        run: npm run test
