# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
      working-directory: ./apidom
    - name: Bootstrap monorepo
      run: npm bootstrap
      working-directory: ./apidom
    - name: Lint code
      run: npm lint
      working-directory: ./apidom
    - name: Check TypeScript types
      run: npm check-types
      working-directory: ./apidom
    - name: Execute tests in monorepo
      run: npm test
      working-directory: ./apidom
    - name: Build monorepo
      run: npm build
      working-directory: ./apidom
